{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    // "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
    // "unicorn"
  ],
  "rules": {
    // "no-useless-escape": "off",
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": ["warn", { "code": 120 }],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "@typescript-eslint/indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", {
      "props": false
    }]
    // "unicorn/prevent-abbreviations": "off"
  },
  "ignorePatterns": ["app/*", "*.config.js", "node_modules/*"]
}